
<div class="cont" [class.mobile]="mobileQuery.matches">
    <mat-toolbar class="toolbar">
    <button mat-icon-button class="menu" (click)="snav.toggle()">
    <mat-icon style="color: white" >menu</mat-icon>
    </button>
    <button mat-icon-button class="menu" style="left:95%">
    <mat-icon style="color: white">home</mat-icon>
    </button>
    </mat-toolbar>
            <mat-sidenav-container class="sidenav-container" >
            <mat-sidenav #snav class="expanded-nav col-lg-2 col-md-2 col-sm-2 col-xs-5 p-0 " [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="76">
            <mat-nav-list class="expanded-list-nav">
            <a mat-list-item class="expanded-items-list" routerLink="/"><mat-icon>folder</mat-icon>Home</a>
            <a mat-list-item class="expanded-items-list" routerLink="/parcela"><mat-icon>add</mat-icon>Parcelas</a>
            <a mat-list-item class="expanded-items-list" routerLink="/medidas"><mat-icon>add</mat-icon>Asignacion de medidas</a>
            <a mat-list-item class="expanded-items-list" routerLink="/lotes"><mat-icon>add</mat-icon>Lotes</a>
            </mat-nav-list>
            </mat-sidenav>
    <mat-sidenav-content class="body">
                <br>
                <br>
            <div class="card">
            <mat-toolbar>
            <span>Reportes<!--<button mat-stroked-button class="btn-regresar" (click)="Regresar()">Regresar</button>--></span>
            </mat-toolbar>
            <div class="card-body">
                <form  #formProveedor="ngForm" (ngSubmit)="evento($event)">
                  <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1">
                            <input matImput placeholder="Numero de parcela" type="number" id="parcela"/>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <button mat-stroked-button class="angular-material-button">Generar</button>
                      </div>
                  </div>
                </form>
                <br>
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                        <button mat-stroked-button class="angular-material-button" (click)="CrearPDF()">Convertir a PDF</button>
                        <button mat-stroked-button class="borrar" (click)="Borrar()">Borrar</button>
                    </div>
                </div>
            </div>
            </div>
                  <div class="container-fluid" id="pdf" *ngIf="no_parcelaG!=null">
                          <div class="row">
                                  <div class="col-lg-5 col-md-3 col-sm-4 col-xs-3">
                                          <label>INMOBILIARIA MESETA EL FRAILE (TERRENOS)(JI)</label>
                                  </div>
                                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                          <label>Fecha Actual:  {{Parrafo.fecha_alta}}</label>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                          <img src="assets/img/logoCRM.png"  width="110" height="70">
                                  </div>
                          </div>
                          <div class="row">
                                  <div class="col-lg-8 col-md-4 col-sm-4 col-xs-4">
                                          <pre>Proveedor: {{Parrafo.Proveedor}}                                  Municipio: {{Parrafo.Municipio}}</pre>
                                         <!-- <label>Proveedor: {{Parrafo.Proveedor}}</label>  <label>Municipio: {{Parrafo.Municipio}}</label>-->
                                  </div>
                          </div>
                          <div class="row">
                                  <div class="col-lg-11 col-md-4 col-sm-4 col-xs-4">
                                          <pre>Parcela: {{Parrafo.id}}   P# {{Parrafo.no_parcela}}  M# {{Parrafo.Manzanas}}  N# de lotes {{Parrafo.cantidadLotes}}     Descripcion: {{Parrafo.desc_par}}  </pre>
                                  </div>
                          </div>
                          <div class="row">
                                  <div class="col-lg-11 col-md-4 col-sm-4 col-xs-4">
                                          <pre>Area Vendible: {{Parrafo.vendible}}              Area Municipal: {{Parrafo.areampa}}                Area Vial: {{Parrafo.areavial}}             Total Parcela: {{this.Parrafo.medidas}}  </pre>
                                  </div>
                          </div>
                          <div class="row">
                                  <div class="col-lg-11 col-md-4 col-sm-4 col-xs-4">
                                          <pre>Costo de Compra:                                  Venta Estimado:    </pre>
                                  </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-3 col-xs-3" >
                                  <div class="table-responsive" id="scroll">
                                          <table class="footable">
                                                  <tr>
                                                          <td>Lote</td><td>Medida</td><td>Precio Unitario</td><td>Venta Total</td><td>Costo Unitario</td><td>Costo Total</td><td>No</td><td>Nombre de S</td>
                                                  </tr>
                                                  <tr *ngFor="let item of Matriz">
                                                          <td>{{item.Lote}}</td><td>{{item.Medida}}</td><td>{{item.PrecioUnitario}}</td><td>{{item.VentaTotal}}</td><td>{{item.CostoUnitario}}</td><td>{{item.CostoTotal}}</td><td>{{item.No}}</td><td>{{item.NombreS}}</td>
                                                  </tr>
                                                  <tr>

                                                  </tr>
                                                  <tr>
                                                          <td>{{this.totalLotes}}</td><td>{{this.sumaMedidas}}</td>  <td></td> <td></td> <td></td><td>{{this.sumaTotal}}</td><td></td><td></td>
                                                  </tr>
                                          </table>
                                  </div>
                          </div>
                  </div>
    </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  